body{
     border: 3px solid black;
     max-width: 40%;
     /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   */
     padding: 80px;
}
body nav{
    max-width: 80%;
    border-top: 3px solid black;
}
h3{
    color: green;
}